:root{
    --colorFirst:white;
    --colorSecond:#969696;
    --colorThird:#D0D0D0;
    --fontsMain:'PT Sans', sans-serif;
    --fontsSecond:'Post No Bills Jaffna', sans-serif;
    --fontsThird: 'Playfair Display', sans-serif;
}

.wrapper{
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
}

.contact{
   height: 44px; 
   font-family: var(--fontsMain);
   font-size: 12px;
   color:var(--colorSecond)
}

.contact >.row>div{
    margin: 14px 0;
}

.contactInforationLogo{
    margin-right: 16.33px;
}

.contactAuthorizationEnter{
    margin-left: 21.33px;
    cursor: pointer;
}

.contactAuthorizationLogo,
.contactInforationLogo {
    cursor: pointer;
}
.header{
    height: 80px;
    background-color: #0F0F0F;
}
.headerLogo{
    font-family: var(--fontsSecond);
    font-size: 36PX;
    font-weight: 700;
    line-height: 54px;
    color: var(--colorFirst);
    height: 80px;
}

.headerLogo > div{
    margin-top: 15px;
    height: 49px;
    margin-bottom: 16px;
}

.headerMenu{
    height: 80px;
}

.headerMenu>ul {
    list-style: none;
    color:var(--colorSecond);
    cursor: pointer;
    height: 80px;  
    width: 500px;
}

.headerMenu>ul>li{
    transition: 1s;
    text-transform: uppercase;
    height: 80px;
    font-size: 14px;
    text-align: center;  
}
.headerMenu>ul>li:nth-child(1){
    width: 133px;
    padding: 31px 0px 31px 3px;
}

.headerMenu>ul>li:nth-child(2){
    width: 170px;
    padding: 31px 10px;
    text-align: center;
}
.headerMenu>ul>li:nth-child(3){
    width: 140px;
    padding: 31px 0px;
}

.headerMenu>ul>li:hover{
    color:var(--colorFirst);
    background-color: #1F1F1F;;
}

.headerMenuIcons{
    padding-right: 407.75px; 
}

.headerMenuIcons > div:nth-child(1) > img{
    height: 22px;
    width: 22px;
    margin-right: 44.58px;
}

.headerMenuIcons > div:nth-child(2) >img{
    height: 22px;
    width: 22px;
    height: 16.5px;
    width: 16.5px;
}

.headerMenuBurger{
    display: none;
}

.acitve::before{
    transform: rotate(45deg);
    margin-top: 10px;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.acitve::after{
    transform: rotate(-45deg);
    top:10px;
    
}

.acitve > span {
    display: none;
}

.aboutSuit{
    max-width: 100%;
    position: relative;
}

.aboutUsInformation{
    position: absolute;
    height: 320px;
    width: 320px;
    border: 4px solid var(--colorFirst);
    left: 0;
    right: 0;
    margin: auto;
    top:284px;
}

.aboutDescription{
    position: absolute;
    width: 730px;
    height: 96px;
    font-family: var(--fontsMain);
    color: var(--colorFirst);
    font-size: 16px;
    top: 684px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

.aboutUsInformation>div:nth-child(1){
    font-family: var(--fontsSecond);
    font-size: 64px;
    font-weight: 700;
    color:var(--colorFirst);
    width: 185px;
    height: 86px;
    margin-top: 93px;
    margin-left: 67px;
}

.aboutUsInformation>div:nth-child(2){
    width: 179px;
    border: 1px solid white;
    margin-left: 70px;
    margin-top: -3px;
}

.aboutUsInformation>div:nth-child(3){
    font-family: var(--fontsMain);
    color: var(--colorFirst);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22px;
    margin-top: 7px;
    margin-left: 61px;
}

.mainClocks{
    height: 730px;
    width: 1040px;
    position: relative;
}

.mainImgMan{
    height: 730px;
    width: 880px;
}


.mainImgMan>img{
    width: 100%;
    height: 100%;
}

.mainClocksPreviousSeason{
    font-family: var(--fontsThird);
    width: 376px;
    height: 39px;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color:var(--colorFirst);
    margin: auto;
    margin-top: 93px;                                               
}

.mainClocksPreviousSeasonLine{
    width: 120px;
    height: 1px;
    background-color: var(--colorFirst);
    margin: auto;
    margin-top: 50px;
}

.mainClocksAssortment >div{
    margin-left: 80px;
    margin-top: 50px;
}

.mainClocksAssortmentLouisBlock, 
.mainClocksAssortmentCarlVonZeytenBlock,
.mainClocksAssortmentJordBlock{
    width: 260px;
    height: 325px;
    background-color: #191B1C ;
}

.newCollectionTitle{
    width: 396px;
    height: 48px;
    margin: auto;
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-family: var(--fontsThird);
    margin-top: 120px;
    color:var(--colorFirst);
    margin-bottom: 39.5px;
}

.newCollectionLine{
    width: 120px;
    margin: auto;
    background-color: var(--colorFirst);
    height: 2px;
    margin-bottom: 81.5px;
}

.asfsa{

background-color: green;
}



.information{
    background-color: #0F0F0F;
}

.informationTitle{
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    color: var(--colorFirst);
    font-family: var(--fontsThird);
    width: 710px;
    text-align: center;
    margin: auto;
    padding-top: 63.32px;
    margin-bottom: 36.56px;
}

.informationLine{
    width: 120px;
    background-color: var(--colorFirst);
    margin: auto;
    height: 1px;
    margin-bottom: 56.97px ;
}

.informationBlockImg{
    width: 51.52%;
    height: 437px;
    background-color: #969696;
}
.informationBlockImg>img{
    width: 100%;
    height: 100%;
}

.informationBlockPart1,
.informationBlockPart2,
.informationBlockPart3{
    height: 437px;
    width: 48.48%;
    margin-bottom: 35px;
    position: relative;
}

.secondwiutclass{
    height: 200px;
    background-color: #FFFFFF;
}

.partners{
    background-color: #0F0F0F;
}

.partnersTitle{
    font-weight: 700;
    width: 320px;
    font-size: 36px;
    text-transform: uppercase;
    color: var(--colorFirst);
    margin: auto;
    padding-top: 89.67px;
    margin-bottom: 32.6px;
}
.partnersLine{
    margin-bottom: 66px;
    width: 120px;
    height: 1px;
    margin: auto;
    background-color: var(--colorFirst);
}

.partnersImgLogo{
    padding-bottom: 106px;
}

.footerContent{
    padding-top: 80px;
}

.footerAdditional{
    margin-top: 66px;
}

.mainClocksAssortmentLouisBlock >img, 
.mainClocksAssortmentCarlVonZeytenBlock >img,
.mainClocksAssortmentJordBlock >img{
    width: 215px;
    height: 264px;
    margin-top: 27px;
    margin-left: 23px;
}

.mainClocksAssortmentLouisTitle,
.mainClocksAssortmentCarlVonZeytenTitle,
.mainClocksAssortmentJordTitle{
    font-size: 18px;
    color:var(--colorFirst);
    font-family: var(--fontsThird);
    margin-top:25px;
    margin-bottom: 10px;
}

.mainClocksAssortmentLouisPrice,
.mainClocksAssortmentCarlVonZeytenPrice,
.mainClocksAssortmentJordPrice{
    font-weight: 700;
font-size: 16px;
color: #D0D0D0;
}

.mainImgSuit > img{
    width: 100%;
    height: 100%;
}

.mainCollection2018Title{
    width: 376px;
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    color:var(--colorFirst);
    font-family: var(--fontsThird);
    margin: auto;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 40px;
}

.mainCollection2018Line{
    width: 120px;
    height: 2px;
    margin: auto;
    background-color: var(--colorFirst);
    margin-bottom: 40px;
}

.mainCollection2018Description{
    width: 628px;
height: 172px;
font-size: 14px;
font-family: var(--fontsMain);
color:var(--colorFirst);
margin: auto;
text-align: center;
margin-bottom: 64px;
}

.mainCollection2018Button{
    width: 298px;
    height: 47px;
    border: 1px solid #FFFFFF;
    align-items: center;
    line-height: 47px;
    font-family: var(--fontsMain);
    color:var(--colorFirst);
    font-weight: 400;
    font-size: 18px;
    margin: auto;
    text-transform: uppercase;
    text-align: center;
}

.newCollectionBlock{
    width: 1109px;
    margin: auto;
    padding-bottom: 150px;
}

.newCollectionBlockCarlVonZeyten,
.newCollectionBlockJordAr,
.newCollectionBlockEmporia, 
.newCollectionBlockRolex,
.newCollectionBlockLouis,
.newCollectionBlockUboat,
.newCollectionBlockGucci,
.newCollectionBlockCollection{
    height: 405px;
    width: 260px;
}

.newCollectionBlockCarlVonZeyten,
.newCollectionBlockJordAr,
.newCollectionBlockEmporia,
.newCollectionBlockLouis,
.newCollectionBlockUboat,
.newCollectionBlockGucci{
    margin-right: 23px;
}

.newCollectionBlockLouis,
.newCollectionBlockUboat,
.newCollectionBlockGucci,
.newCollectionBlockCollection{
    margin-top: 40px;
}

.newCollectionBlock > div >div >div:nth-child(1) {
    background-color: rebeccapurple;
    width: 100%;
    height: 325px;
    background-color:#191B1C;
}

.newCollectionBlockCollection{
    position: relative;
}


.newCollectionBlockCollectionImgBaclground> div{
    width: 186px;
    height: 48px;
    border: 1px solid var(--colorFirst);
    color: var(--colorFirst);;
    text-align: center;
    line-height: 48px;
}

.newCollectionBlock >div > div > div >img{
    width: 215px;
    height: 264px;
    margin-top: 27px;
    margin-left: 23px
}

.newCollectionBlockGucciImg > img{
    height: 325px !important;
    margin-top: 0 !important;
}

.newCollectionBlockCollectionImg>img{
    filter: blur(1.5px);
    width: 215px;
    height: 264px;
    margin-top: 27px;
    margin-left: 23px;
}
.newCollectionBlockCollection>div:nth-child(2){
    width: 186px;
    height: 48px;
    border: 1px solid var(--colorFirst);
    color: var(--colorFirst);
    text-align: center;
    line-height: 48px;
    position: absolute;
    font-family: var(--fontsThird);
    top: 135px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 18px;
    text-transform: uppercase;
}

.carousel{
    display: none;
}

.newCollectionBlock > div >  div > div:nth-child(2){
    color: var(--colorFirst);
    margin-top: 25px;
    font-size: 18px;
    font-family: var(--fontsThird);
    margin-bottom: 10px;
}

.newCollectionBlock > div >  div > div:nth-child(3){
    color: #D0D0D0;
    font-family: var(--fontsThird);
    font-size: 16px;
}

.informationBlockPart1 >div:nth-child(1),
.informationBlockPart2 >div:nth-child(1),
.informationBlockPart3 >div:nth-child(1){
    margin-left: 145px;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color:var(--colorFirst);
    margin-top: 53px;
    margin-bottom: 14px;
    font-family: var(--fontsMain);
}

.informationBlockPart1 >div:nth-child(2),
.informationBlockPart2 >div:nth-child(2),
.informationBlockPart3 >div:nth-child(2){
    color:rebeccapurple;
    margin-left: 145px;
    font-weight: 400;
    font-size: 14px;
    color:var(--colorFirst);
    margin-bottom: 38px;
}

.informationBlockPart1 >div:nth-child(2){
    width: 670px;
}

.informationBlockPart2 >div:nth-child(2){
    width: 650px;
}

.informationBlockPart3 >div:nth-child(2){
    width: 664px;
}

.informationBlockPart1 >div:nth-child(3),
.informationBlockPart2 >div:nth-child(3),
.informationBlockPart3 >div:nth-child(3){
    width: 129px;
    height: 47px;
    border: 1px solid var(--colorFirst);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 18px;
    color:var(--colorFirst);
    margin-left: 145px;
    font-family: var(--fontsMain);
    text-align: center;
    line-height: 47px;
}

.informationBlockPart1 >div:nth-child(4),
.informationBlockPart2 >div:nth-child(4),
.informationBlockPart3 >div:nth-child(4){
    position: absolute;
    font-size: 18px;
    font-family: var(--fontsMain);
    right: 157px;
    text-transform: uppercase;
    color:var(--colorFirst)

}

.informationBlockPart1 >div:nth-child(4){
    top: 239px;
}

.informationBlockPart2 >div:nth-child(4){
    top: 234px;
}

.informationBlockPart3 >div:nth-child(4){
    top: 240px;
}

.partners{
    position: relative;
    top: -1px;
}

.partnersImgLogo{
    margin: auto;
    margin-top: 66px;
    width: 1385px;
}

.partnersImgLogo>div:nth-child(1){
    width: 369px;
height: 152.44px;
margin-top: 13px;
}

.partnersImgLogo>div:nth-child(2){
    width: 279px;
    height: 185px;
}

.partnersImgLogo>div:nth-child(3){
    width: 271px;
    height: 170px;
}

.partnersImgLogo>div:nth-child(4){
    width: 376px;
    height: 153px;
    margin-top: 3px;
}

.partnersImgLogo > div > img{
    width: 100%;
    height: 100%;
}



.partnersImgLogo>div:nth-child(1),
.partnersImgLogo>div:nth-child(2),
.partnersImgLogo>div:nth-child(3){
    margin-right: 30px;
}


.footerContent{
    height: 450px;
    width: 100%;
    background-position: center;

    background-image:url(../img/background.png)
}


@media screen and (min-width: 1920px) {
    .contactInforation{
        margin-left:406.33px;
    }
    .contactAuthorizationEnter{
        margin-right: 405px;
    }
    .headerLogo > div {
        margin-left: 405px;
    }
    .mainImgSuit{
    width: 936px;
    height: 600px;
    }

    .mainCollection2018{
        width: 984px;
        height: 600px;
    }
}



@media screen and (max-width: 1920px) {


    .contactInforation{
        margin-left:257px;
    }
    .contactAuthorizationEnter{
        margin-right: 258px;
    }
    .headerMenuIcons{
        padding-right: 258px;
        margin: 0px;
    }
    .headerLogo{
        padding-left: 257px;
    }
    .headerMenuIcons > div:nth-child(1) > img {
        margin-right: 20px;
        margin-left: 15px;
    }
    .aboutUsInformation{
        height: 234px;
        width: 234px;
        top:227px;
    }

    .aboutUsInformation>div:nth-child(1){
        font-size: 46px;
        width: 100%;
        height: 59px;
        margin-top: 63px;
        margin-left: 0px;
        text-align: center;
    }

    .aboutUsInformation>div:nth-child(2){
        width: 179px;
        border: 1px solid white;
        margin-left: 70px;
        margin-top: -3px;
    }

    .aboutUsInformation>div:nth-child(3){
        font-family: var(--fontsMain);
        color: var(--colorFirst);
        text-transform: uppercase;
        font-weight: 400;
        font-size: 22px;
        margin-top: 7px;
        margin-left: 61px;
    }
    .aboutUsInformation>div:nth-child(2){
        width: 130px;
        margin-left: 49px;
    }
    .aboutUsInformation>div:nth-child(3){
        font-size: 18px;
        margin: 0;
        margin-top: 7px;
        width: 100%;
        text-align: center;
    }
    .aboutDescription{
        font-size: 14px;
        top: 500px;
    }
    .mainClocks{
        height: 501px;
        width: 715px;
    }
    
    .mainImgMan{
        height: 501px;
        width: 605px;
    }
    .mainClocksPreviousSeason{
        width: 258px;
        height: 49px;
        font-size: 30px;
        line-height: 48px;
        margin-top: 50px;                                               
    }

    .mainClocksPreviousSeasonLine {
        margin-top: 23px;
    }

    .mainClocksAssortmentLouisBlock, 
    .mainClocksAssortmentCarlVonZeytenBlock,
    .mainClocksAssortmentJordBlock{
    width: 178px;
    height: 223px;
}
.mainClocksAssortment >div{
    margin-left: 40px;
    margin-top: 50px;
}


.mainImgSuit,
.mainCollection2018{
    height: 501px;
    }

    .mainClocksAssortmentLouisBlock >img, 
.mainClocksAssortmentCarlVonZeytenBlock >img,
.mainClocksAssortmentJordBlock >img{
    width: 147px;
    height: 181px;
    margin-top: 18px;
    margin-left: 16px;
}
.mainClocksAssortmentLouisTitle,
.mainClocksAssortmentCarlVonZeytenTitle,
.mainClocksAssortmentJordTitle{
    font-size: 16px;
}

.mainClocksAssortmentLouisPrice,
.mainClocksAssortmentCarlVonZeytenPrice,
.mainClocksAssortmentJordPrice{
font-size: 14px;
}

.mainCollection2018Title{
    font-size: 34px;
    margin-top: 65px;
    margin-bottom: 30px;
}

.mainCollection2018Line{
    width: 100px;
}

.mainCollection2018Description{
    width: 553px;
height: 172px;
font-size: 12px;
text-align: center;
margin-bottom: 24px;
}

.mainCollection2018Button{
    width: 278px;
    height: 47px;
    font-size: 16px;
}

.informationTitle{
    font-size: 34px;
}

.informationBlockImg,
.informationBlockPart1,
.informationBlockPart2,
.informationBlockPart3{
    height: 385px;
}


.informationBlockPart1 >div:nth-child(1), .informationBlockPart2 >div:nth-child(1), .informationBlockPart3 >div:nth-child(1) {
    margin-top: 10px;
}

.informationBlockPart1 >div:nth-child(2) {
    width: 443px;
}

.informationBlockPart1 >div:nth-child(4), 
.informationBlockPart2 >div:nth-child(4), 
.informationBlockPart3 >div:nth-child(4) {
    right: 46px;
}

.informationBlockPart2 >div:nth-child(2) {
    width: 445px;
}

.informationBlockPart3 >div:nth-child(2) {
    width: 422px;
}

.informationBlockPart3 >div:nth-child(4) {
    top: 292px;
}

.partnersImgLogo {
    width: 100%;
}

.partnersImgLogo >div:nth-child(1),
.partnersImgLogo >div:nth-child(2),
.partnersImgLogo >div:nth-child(3),
.partnersImgLogo >div:nth-child(4) {
    width: 23%;
    height: 170px;
}

}



@media screen and (max-width: 1400px) {
    .contactInforation{
        margin-left:180px;
    }
    .contactAuthorizationEnter{
        margin-right: 181px;
    }
    .headerMenuIcons{
        padding-right: 180px;
    }
    .headerLogo{
        padding-left: 181px;
    }
    .aboutUsInformation{
        height: 200px;
        width: 200px;
        top:204px;
    }

    .aboutUsInformation>div:nth-child(1){
        font-size: 40px;
        height: 50px;
        margin-top: 54px;
    }
    .aboutUsInformation>div:nth-child(2){
        width: 112px;
        margin-left: 40px;
    }
    .aboutUsInformation>div:nth-child(3){
        font-size: 16px;
        margin-top: 5px;
    }
    .mainClocks{
        height: 433px;
        width: 617.5px;
    }
    
    .mainImgMan{
        height: 433px;
        width: 522.5px;
    }

        .mainClocksAssortmentLouisBlock, 
    .mainClocksAssortmentCarlVonZeytenBlock,
    .mainClocksAssortmentJordBlock{
    width: 170px;
    height: 210px;
}

.mainClocksAssortment >div{
    margin-left: 20px;
    margin-top: 50px;
}
.mainClocksPreviousSeason {
    margin-top: 29px;
}
.mainImgSuit,
.mainCollection2018{
    height: 433px;
    }

    .mainClocksAssortmentLouisBlock >img, 
    .mainClocksAssortmentCarlVonZeytenBlock >img,
    .mainClocksAssortmentJordBlock >img{
        width: 140px;
        height: 170px;
        margin-top: 17px;
        margin-left: 15px;
    }

    .mainClocksAssortmentLouisTitle,
.mainClocksAssortmentCarlVonZeytenTitle,
.mainClocksAssortmentJordTitle{
    font-size: 14px;
}

.mainClocksAssortmentLouisPrice,
.mainClocksAssortmentCarlVonZeytenPrice,
.mainClocksAssortmentJordPrice{
font-size: 12px;
}
.mainClocksPreviousSeason {
    margin-top: 15px;
    font-size: 26px;
}
.mainClocksPreviousSeasonLine{
    margin-top: 12px;
}



.mainCollection2018Title{
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
}


.mainCollection2018Description{
    width: 488px;
height: 184px;
font-size: 12px;
text-align: center;
margin-bottom: 24px;
}

.mainCollection2018Button{
    width: 254px;
    height: 47px;
    font-size: 14px;
}
    
.informationBlockImg,
.informationBlockPart1,
.informationBlockPart2,
.informationBlockPart3{
    height: 340px;
}

.informationBlockPart1 >div:nth-child(1), 
.informationBlockPart2 >div:nth-child(1), 
.informationBlockPart3 >div:nth-child(1),
.informationBlockPart1 >div:nth-child(3), 
.informationBlockPart2 >div:nth-child(3), 
.informationBlockPart3 >div:nth-child(3),
.informationBlockPart1 >div:nth-child(2), 
.informationBlockPart2 >div:nth-child(2), 
.informationBlockPart3 >div:nth-child(2) {
    margin-left: 60px;
}

.partnersImgLogo{
    width: 96%;
}
.partnersImgLogo >div:nth-child(1), 
.partnersImgLogo >div:nth-child(2), 
.partnersImgLogo >div:nth-child(3), 
.partnersImgLogo >div:nth-child(4) {
    width: 22%;
    height: 170px;
}

   
}
@media screen and (max-width: 1200px) {

    .informationTitle{
        font-size: 30px;
    }
    .contactInforation{
        margin-left:96px;
    }
    .contactAuthorizationEnter{
        margin-right: 98px;
    }
    .headerMenuIcons{
        padding-right: 96px;
    }
    .headerLogo{
        padding-left: 98px;
    }
    .headerMenuIcons > div:nth-child(1) > img {
        margin-right: 18px;
        margin-left: 30px;
    }
    .aboutUsInformation{
        height: 165px;
        width: 165px;
        top:197px;
    }
    
    .aboutUsInformation>div:nth-child(1){
        font-size: 32px;
        height: 42px;
        margin-top: 45px;
    }
    .aboutUsInformation>div:nth-child(2){
        width: 92px;
        margin-left: 33px;
    }
    .aboutUsInformation>div:nth-child(3){
        font-size: 14px;
        margin-top: 3px;
    }
    .aboutDescription{
        font-size: 12px;
        top: 388px;
        width: 548px;
    }
    .mainClocks{
        height: 365px;
        width: 520px;
    }
    
    .mainImgMan{
        height: 365px;
        width: 425px;
    }
    .mainClocksAssortmentLouis{
        padding-left: 15px;
    }
    .mainClocks{
        margin-right: 15px;
    }

    .mainClocksAssortmentLouisBlock, 
    .mainClocksAssortmentCarlVonZeytenBlock,
    .mainClocksAssortmentJordBlock{
        width: 171px;
        height: 204px;
        margin-top: 10px;
}

.mainClocksAssortment >div{
    margin: auto;
}
.mainImgSuit,
.mainCollection2018{
    height: 365px;
    }

    .mainClocksAssortmentJordBlock{
        border-radius: 0px 40px 40px 0px;
    }

    .mainClocksAssortmentLouisBlock{
        border-radius: 40px 4px 0px 40px; 
    }

    .mainClocksAssortmentCarlVonZeyten{
        padding-left: 10px;
    }
    .mainClocksAssortmentLouisTitle,
    .mainClocksAssortmentCarlVonZeytenTitle,
    .mainClocksAssortmentJordTitle{
        font-size: 12px;
        margin-top: 15px;
        margin-bottom: 0;
        text-align: center;
    }
    .mainClocksAssortmentLouisPrice,
.mainClocksAssortmentCarlVonZeytenPrice,
.mainClocksAssortmentJordPrice{
font-size: 10px;
}

.mainClocksAssortmentLouisPrice{
    padding-left: 33px;
}

.mainClocksAssortmentCarlVonZeytenPrice{
    padding-left: 40px;
}

.mainClocksAssortmentJordPrice{
    padding-left: 51px;
}
.mainCollection2018Title{
    font-size: 28px;
    margin-top: 29px;
    margin-bottom: 12px;
}

.mainCollection2018Line{
    margin-bottom: 28px;
}

.mainCollection2018Description{
    width: 436px;
    height: 161px;
    font-size: 10px;
    text-align: center;
    margin-bottom: 18px;
}

.mainCollection2018Button{
    width: 240px;
    height: 42px;
    font-size: 14px;
    line-height: 42px;
}

.newCollectionBlock{
    width: 970px;
}
.newCollectionBlockCarlVonZeyten, .newCollectionBlockJordAr, .newCollectionBlockEmporia, .newCollectionBlockRolex, .newCollectionBlockLouis, .newCollectionBlockUboat, .newCollectionBlockGucci, .newCollectionBlockCollection {
    height: 405px;
    width: 215px;

}

.newCollectionBlock >div > div > div >img {
    width: 199px;
    height: 244px;
    margin-top: 45px;
    margin-left: 7px;
}

.informationBlockImg,
.informationBlockPart1,
.informationBlockPart2,
.informationBlockPart3{
    height: 275px;
}
.informationBlockPart1 >div:nth-child(2) {
    width: 390px;
    font-size: 12px;
}

.informationBlockPart1 >div:nth-child(3), .informationBlockPart2 >div:nth-child(3), .informationBlockPart3 >div:nth-child(3) {
    width: 114px;
    height: 38px;
    font-size: 14px;
    line-height: 38px;

}

.informationBlockPart1 >div:nth-child(4), .informationBlockPart2 >div:nth-child(4), .informationBlockPart3 >div:nth-child(4) {
    font-size: 16px;
}

.informationBlockPart1 >div:nth-child(4) {
    top: 214px;
}

.informationBlockPart2 >div:nth-child(2) {
    width: 369px;
    font-size: 12px;
}

.informationBlockPart3 >div:nth-child(2) {
    width: 358px;
    font-size: 12px;
}

.informationBlockPart2 >div:nth-child(4){
    top: 214px;
}

.partnersImgLogo >div:nth-child(1), 
.partnersImgLogo >div:nth-child(2), 
.partnersImgLogo >div:nth-child(3), 
.partnersImgLogo >div:nth-child(4) {
    height: 130px;
}


}
@media screen and (max-width: 992px) {
    .mainClocks{
        margin-right: 0;
    }

    .contactInforation{
        margin-left:44px;
    }
    .contactAuthorizationEnter{
        margin-right: 46px;
    }
    .headerMenuIcons{
        padding-right: 44px;
    }
    .headerLogo{
        padding-left: 46px;
    }
    .headerMenuIcons > div:nth-child(1) > img {
        margin-right: 14px;
        margin-left: 0px;
    }
    .aboutUsInformation{
        height: 128px;
        width: 128px;
        top:176px;
        border: 2px solid var(--colorFirst);
    }
    .aboutUsInformation>div:nth-child(1){
        font-size: 26px;
        height: 32px;
        margin-top: 35px;
    }

    .aboutUsInformation>div:nth-child(2){
        width: 76px;
        margin-left: 23px;
        margin-top: 0px;
    }
    .aboutUsInformation>div:nth-child(3){
        font-size: 12px;
        margin-top: 1px;
    }
    .aboutDescription{
        font-size: 10px;
        top: 332px;
        width: 455px;
    }
    .mainClocks{
        height: 882px;
        width: 390px;
    }
    
    .mainImgMan{
        height: 274px;
        width: 330px;
    }
    .mainImgSuit{
        position: absolute;
        height: 274px;
        width: 330px;
        right: 0px;
        top: 294px;
        border-radius: 50px;
    }

    .mainCollection2018{
        position: absolute;
        height: 274px;
        width: 330px;
        right: 0px;
        top: 587px;
        border-radius: 50px;
    }

    .main{
        margin-top: 12px;
    }
    .mainImgMan>img{
        border-radius: 50px;
    }

    .mainClocksAssortmentLouisBlock{
        margin-top: 50px;
    }

    .mainClocksAssortmentLouisBlock,
    .mainClocksAssortmentCarlVonZeytenBlock,
    .mainClocksAssortmentJordBlock{
        border-radius: 40px;
        width: 191px;
        height: 220px;
    }
    .mainClocksAssortmentLouisPrice,
    .mainClocksAssortmentCarlVonZeytenPrice,
    .mainClocksAssortmentJordPrice{
    position: absolute;
    font-size: 14px;

    }

    .mainClocksAssortmentLouisTitle,
    .mainClocksAssortmentCarlVonZeytenTitle,
    .mainClocksAssortmentJordTitle{
        position: absolute;
        font-size: 16px;
    }

    .mainClocksAssortmentCarlVonZeytenBlock,
    .mainClocksAssortmentJordBlock{
        margin-top: 50px;
    }

    .mainClocksAssortmentLouisTitle{
        top: 115px;
        right: 50px;
    }
    .mainClocksAssortmentLouisPrice{
        top: 155px;
        right:96px;
    }
    .mainClocksAssortmentCarlVonZeytenTitle{
        top: 380px;
        right: 60px;
    }
    .mainClocksAssortmentCarlVonZeytenPrice{
        right:96px;
        top: 420px;
    }
    .mainClocksAssortmentJordBlock{
        margin-left: 10px;
    }

    .mainClocksAssortmentJordTitle{
        right: 79px;
        top: 656px;
    }

    .mainClocksAssortmentJordPrice{
        top: 696px;
        right: 96px;
    }

    .mainImgSuit>img{
        border-radius: 50px;
    }

    .mainCollection2018Title{
        font-size: 20px;
        margin-top: 18px;
        margin-bottom: 10px;
        width: 148px;
    }
    
    .mainCollection2018Line{
        margin-bottom: 18px;
    }
    
    .mainCollection2018Description{
        width: 262px;
        height: 132px;
        font-size: 8px;
        text-align: center;
        margin-bottom: 18px;
    }
    
    .mainCollection2018Button{
        width: 200px;
        height: 32px;
        font-size: 10px;
        line-height: 32px;
    }

    .newCollectionBlock{
        width: 740px;
    }
    .newCollectionBlockCarlVonZeyten, .newCollectionBlockJordAr, .newCollectionBlockEmporia, .newCollectionBlockRolex, .newCollectionBlockLouis, .newCollectionBlockUboat, .newCollectionBlockGucci, .newCollectionBlockCollection {
        height: 399px;
        width: 162px;
    
    }
    
    .newCollectionBlock >div > div > div >img {
        width: 199px;
        height: 244px;
        margin-top: 6px;
        margin-left: 3px;
    }
    .newCollectionBlock >div > div > div >img {
        width: 155px;
        height: 191px;
        margin-top: 30px;
        margin-left: 7px;
    
    }

    .newCollectionBlockCarlVonZeyten, .newCollectionBlockJordAr, .newCollectionBlockEmporia, .newCollectionBlockRolex, .newCollectionBlockLouis, .newCollectionBlockUboat, .newCollectionBlockGucci, .newCollectionBlockCollection {
        height: 346px;
        width: 162px;
    }
    .newCollectionBlockGucciImg > img {
        height: 250px !important;

    }
    
    .newCollectionBlock > div >div >div:nth-child(1) {
        height: 248px;
    }
    .newCollectionBlockCarlVonZeyten, .newCollectionBlockJordAr, .newCollectionBlockEmporia, .newCollectionBlockRolex, .newCollectionBlockLouis, .newCollectionBlockUboat, .newCollectionBlockGucci, .newCollectionBlockCollection {
        height: 314px;
    }

    .newCollectionBlockCollection>div:nth-child(2) {
        width: 144px;
        height: 34px;
        line-height: 34px;
        font-size: 12px;
    }
    .newCollectionBlockLouis, 
.newCollectionBlockGucci,
.newCollectionBlockUboat,
.newCollectionBlockCollection{
    margin-top: 54px;
}
.newCollectionTitle{
    margin-top: 20px;
}

.informationTitle{
    font-size: 26px;
}
.informationBlockImg,
.informationBlockPart1,
.informationBlockPart2,
.informationBlockPart3{
    height: 209px;
}
.informationBlockPart1 >div:nth-child(1), .informationBlockPart2 >div:nth-child(1), .informationBlockPart3 >div:nth-child(1) {
    margin-top: 0px;
}

.informationBlockPart1 >div:nth-child(3), 
.informationBlockPart2 >div:nth-child(3), 
.informationBlockPart3 >div:nth-child(3),
.informationBlockPart1 >div:nth-child(4), 
.informationBlockPart2 >div:nth-child(4), 
.informationBlockPart3 >div:nth-child(4)  {
    display: none;
}

.informationBlockPart1 >div:nth-child(2) {
    width: 283px;
}

.informationBlockPart2 >div:nth-child(2) {
    width: 270px;
}
.informationBlockPart3 >div:nth-child(2) {
    width: 266px;
}
.partnersImgLogo >div:nth-child(1), 
.partnersImgLogo >div:nth-child(2), 
.partnersImgLogo >div:nth-child(3), 
.partnersImgLogo >div:nth-child(4) {
    height: 94px;
    width: 21%;
}

}

@media screen and (max-width: 768px) {
    .contactInforation{
        margin-left:5px;
    }
    .contactInforationLogo{
        margin-right: 10px;
    }
    .contactAuthorizationEnter{
        margin-right: 5px;
        margin-left: 10px;
    }
    .headerMenuIcons{
        padding-right: 5px;
    }
    .headerMenuIcons > div{
        display: none;
    }
    .headerMenu > ul{
        position: relative;
        margin-top: -100%;
        right: 35px;
        transition: 1s;
        z-index: 2;
    }

    .headerMenu>ul>li:nth-child(1),
    .headerMenu>ul>li:nth-child(2),
    .headerMenu>ul>li:nth-child(3) {
        background-color: #0F0F0F;

    }
    .headerMenu>ul>li:nth-child(1),
    .headerMenu>ul>li:nth-child(2),
    .headerMenu>ul>li:nth-child(3) {
        width: 540px;
        padding: 0px 0px 0px 0px;
        height: 40px;
        padding: 7px 0px 25px 45px;
        margin-top: -2px;
    }

    .headerMenu>ul>li:hover{
        background-color: #1F1F1F;
    }  
    
    .headerMenu > ul > li {
        display: flex;

    }

    .headerMenuBurger{
        position: relative;
        display: block;
        width: 88px;
        height: 25px;
        color: #ffffff;
        right: 60px;
        top: 27px;
    }
    
    .headerMenuBurger span {
        position: absolute;
        background-color: white;
        left: 0;
        width: 40px;
        height: 2px;
        top:11px;
    }
    .headerMenuBurger::before, 
    .headerMenuBurger::after{
        content: "";
        background-color: aliceblue;
        position: absolute;
        width: 40px;
        height: 2px;
        transition: 1s
        
    }
    .headerMenuBurger::before{
        top:0px;
    }
    .headerMenuBurger::after{
        bottom: 0;
    }

    .showLists >ul{
        margin-top:80px
    }
    .aboutUsInformation{
        height: 94px;
        width: 94px;
        top:165px;
    }

    .aboutUsInformation>div:nth-child(1){
        font-size: 24px;
        height: 24px;
        margin-top: 27px;
    }

    .aboutUsInformation>div:nth-child(2){
        width: 68px;
        margin-left: 11px;
        margin-top: 6px;
    }

    .aboutUsInformation>div:nth-child(3){
        font-size: 14px;
    }

    .aboutUsInformation>div:nth-child(3){
        font-size: 14px;
        margin-top: 38px;
        width: 150px;
        margin-left: -29px;
    }
    .aboutDescription{
        display: none;
    }
    .mainClocks{
        height: 204px;
        width: 292.5px;
    }
    
    .mainImgMan{
        height: 204px;
        width: 247.5px;
    }
    
    .mainClocks{
        height: 681px;
    }

    .mainClocksAssortmentLouisBlock, .mainClocksAssortmentCarlVonZeytenBlock, .mainClocksAssortmentJordBlock {
        width: 171px;
        height: 175px;
        margin-top: 10px;

    }
    
    .mainImgSuit{
        height: 204px;
        width: 247.5px;
        top: 224px;
    }

    .mainCollection2018{
        height: 204px;
        width: 247.5px;
        top: 448px;
    }
    .mainClocksAssortmentLouisBlock >img, .mainClocksAssortmentCarlVonZeytenBlock >img, .mainClocksAssortmentJordBlock >img {
        width: 113px;
        height: 119px;
        margin-top: 26px;
        margin-left: 28px;

    }

    .mainClocksAssortmentLouisPrice,
    .mainClocksAssortmentCarlVonZeytenPrice,
    .mainClocksAssortmentJordPrice{
        display: none;

    }

    .mainClocksAssortmentLouisTitle,
    .mainClocksAssortmentCarlVonZeytenTitle,
    .mainClocksAssortmentJordTitle{
        display: none;
    }
    .mainClocksAssortmentLouisBlock >img, .mainClocksAssortmentCarlVonZeytenBlock >img, .mainClocksAssortmentJordBlock >img {
        width: 131px;
        height: 131px;
        margin-top: 26px;
        margin-left: 51px;
    }
    .mainClocksAssortmentLouisBlock, .mainClocksAssortmentCarlVonZeytenBlock, .mainClocksAssortmentJordBlock {
        width: 233px;
        height: 175px;
        margin-top: 10px;
        background-color: transparent;
    }


    .mainCollection2018Title{
        font-size: 16px;
        margin-top: 8px;
        margin-bottom: 3px;
        width: 120px;
    }
    
    .mainCollection2018Line{
        width: 72px;
        margin-bottom: 18px;
    }
    
    .mainCollection2018Description{
        width: 212px;
        height: 101px;
        font-size: 6px;
        text-align: center;
        margin-bottom: 10px;
    }
    
    .mainCollection2018Button{
        width: 175px;
        height: 28px;
        font-size: 8px;
        line-height: 28px;
    }

    .newCollectionBlock {
        width: 550px;
    }

    .newCollectionBlockCarlVonZeyten, .newCollectionBlockJordAr, .newCollectionBlockEmporia, .newCollectionBlockRolex, .newCollectionBlockLouis, .newCollectionBlockUboat, .newCollectionBlockGucci, .newCollectionBlockCollection {
        height: 346px;
        width: 212px;
        margin: auto;
    }

    .newCollectionBlock >div > div > div >img {
        width: 155px;
        height: 191px;
        margin-top: 31px;
        margin-left: 27px;
    }
    
    .informationTitle{
        font-size: 24px;
        width: 456px;
    }

    .newCollectionBlock {
        padding-bottom: 75px;
    }

    .informationBlockImg,
    .informationBlockPart1,
    .informationBlockPart2,
    .informationBlockPart3{
        height: 242px;
    width: 100%;
    }

    .informationBlockPart1 >div:nth-child(3), 
.informationBlockPart2 >div:nth-child(3), 
.informationBlockPart3 >div:nth-child(3),
.informationBlockPart1 >div:nth-child(4), 
.informationBlockPart2 >div:nth-child(4), 
.informationBlockPart3 >div:nth-child(4)  {
    display: block;
}
    
.informationBlockPart1 >div:nth-child(2),
.informationBlockPart2 >div:nth-child(2),
.informationBlockPart3 >div:nth-child(2) {
    width: 485px;
    text-align: justify;
    margin-left: 30px;
}
.informationBlockPart1 >div:nth-child(1), .informationBlockPart2 >div:nth-child(1), .informationBlockPart3 >div:nth-child(1) {
    margin-top: 10px;
    margin-left: 30px;
}

.informationBlockPart1 >div:nth-child(3), 
.informationBlockPart2 >div:nth-child(3), 
.informationBlockPart3 >div:nth-child(3){
    margin-left: 30px;
}

.informationBlockPart1 >div:nth-child(4){
    top: 195px;
}

.informationBlockPart2 >div:nth-child(4),
.informationBlockPart3 >div:nth-child(4){
    top: 176px;
}

.partnersImgLogo >div:nth-child(1), 
.partnersImgLogo >div:nth-child(2), 
.partnersImgLogo >div:nth-child(3), 
.partnersImgLogo >div:nth-child(4) {
    height: 100px;
    width: 30%;
}

.partnersImgLogo >div:nth-child(1),
.partnersImgLogo >div:nth-child(3){
    margin-left: 86px;
}


    
}
    

@media screen and (max-width: 576px) {
    .newCollectionTitle{

        width: 100%;
        padding-top: 30px;
        margin-bottom: 40px;
    }
    .contact{
        height: 92px;
    }
    .contactAuthorization{
        justify-content:flex-start;
        text-align: left;
    }

    .headerMenuBurger{
        position: absolute;
        top: 119px;
        right: 0;
    }
    .showLists >ul{
        margin: 0;
        left: 0;
        right: 0; 
        position: absolute;
        width: 100%;
    }

    .headerMenu>ul>li:nth-child(1),
    .headerMenu>ul>li:nth-child(2),
    .headerMenu>ul>li:nth-child(3) {
        width: 100%;
        padding-left: 20px;

    }
    .headerLogo{
        padding-left: 20px;   
    }

    .aboutUsInformation{
        display: none;
    }

    .mainClocks{
        width: 100%;
    }
    
    .mainImgMan{
        width: 100%;
    }

    .mainClocks{
        height: 55vw;
        width: 100%;
        margin: auto;
    }
    
    .mainImgMan{
        height: 55vw;
        width: 100%;
        margin: auto;
    }

    .mainClocksAssortmentLouis,
    .mainClocksAssortmentCarlVonZeyten,
    .mainClocksAssortmentJord{
        width: 50px;
    }
    .mainImgSuit, .mainCollection2018 {
        top: 0;
        position: inherit;
        height: 55vw;
        width: 100%;
        margin-top: 20px;
    }



    .mainClocksAssortmentLouis,
    .mainClocksAssortmentCarlVonZeyten,
    .mainClocksAssortmentJord{
        padding: 0;
        margin: 0;
        width: 33%;
    }

    .mainClocksAssortmentLouisBlock,
    .mainClocksAssortmentJordBlock,
    .mainClocksAssortmentCarlVonZeytenBlock{
        width: 100%;
        height: 72%;
        margin: 0;
        padding: 0;
    }


    .mainClocksAssortmentLouisBlock >img, .mainClocksAssortmentCarlVonZeytenBlock >img, .mainClocksAssortmentJordBlock >img {
        margin: 0;
        padding: 0;
        width: 33vw;
        height: 30vw;
        padding-left: 30px;
        margin-top: 10px;
    }


    .mainCollection2018Title{
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 5px;
        width: 226px;
    }
    
    .mainCollection2018Line{
        width: 80px;
        margin-bottom: 10px;
    }
    
    .mainCollection2018Description{
        width: 90%;
        height: 108px;
        font-size: 8px;
        text-align: center;
        margin-bottom: 10px;
    }
    
    .mainCollection2018Button{
        width: 166px;
        height: 24px;
        font-size: 8px;
        line-height: 24px;
    }

    .newCollectionBlock{
        display: none;
    }

    .carousel{
        display: block;
        margin-bottom: 75px;
    }

    .carousel-inner > div > img {
        width: 200px !important;
        height: 250px;
        margin: auto;
        margin-bottom: 75px;
    }

    .newCollectionTitle{
        margin-top: 0px;
    font-size: 26px;
}

.informationTitle{
    width: 100%;
}

.informationBlockImg{
    height: 242px;
width: 95%;
margin: auto;
}

.informationBlockPart1 >div:nth-child(4),
.informationBlockPart2 >div:nth-child(4),
.informationBlockPart3 >div:nth-child(4){
    display: none;
}

.informationBlockPart1 >div:nth-child(2), .informationBlockPart2 >div:nth-child(2), .informationBlockPart3 >div:nth-child(2) {

    margin: 0;
    width: 95%;
    padding-left: 32px;
    padding-right: 0px;
    margin-bottom: 15px;
}

.informationBlockPart1 >div:nth-child(3), 
.informationBlockPart2 >div:nth-child(3), 
.informationBlockPart3 >div:nth-child(3) {
    margin-left: 30px;
    width: 100px;
    height: 34px;
    line-height: 34px;
    font-size: 12px;
}

.partnersImgLogo >div:nth-child(1), 
.partnersImgLogo >div:nth-child(2), 
.partnersImgLogo >div:nth-child(3), 
.partnersImgLogo >div:nth-child(4) {
    height: 100px;
    width: 30%;
}

.partnersImgLogo >div:nth-child(1),
.partnersImgLogo >div:nth-child(2),
.partnersImgLogo >div:nth-child(3),
.partnersImgLogo >div:nth-child(4){
    width: 46%;
    padding-top: 15px;
    margin: auto;
}

.partnersImgLogo >div:nth-child(3),
.partnersImgLogo >div:nth-child(4){
    margin-top: 15px;
}


    

    
}

